{% extends "MWA_webapp/head.html" %}

{% load static %}

{% block title %} mywealthanalyst - email confirmed {% endblock %}
{% block description %} Providing information and analysis on the true value of assets to safeguard your wealth for generations. {% endblock %}

{% block content %}
<br>


  <div class="container login">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">email confirmed!</h5>
            Thank you for signing up for mywealthanalyst. You are now logged in.
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
