__pycache__/
*.py[cod]
*$py.class
*.pyc
.pyc
.log
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule

mywealthanalyst_django/celerybeat-schedule

*.log
*.pot
*.pyc
*/*/*/*/__pycache__/
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
