appdirs==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
cssselect==1.0.3
cycler==0.10.0
Django==2.2.4
django-widget-tweaks==1.4.3
html5lib==1.0.1
idna==2.8
kiwisolver==1.1.0
lxml==4.3.3
matplotlib==3.0.3
numpy==1.16.3
pandas==0.24.2
parse==1.12.0
pyee==6.0.0
pyparsing==2.4.0
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
tqdm==4.32.1
urllib3==1.24.3
w3lib==1.20.0
webencodings==0.5.1
websockets==7.0
xlrd==1.2.0
