{% extends "MWA_webapp/head.html" %}

{% load static %}

{% block title %} mywealthanalyst {% endblock %}
{% block description %} Providing information and analysis on the true value of assets to safeguard your wealth for generations. {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'MWA_users/style.css' %}?id=13" />
<link rel="stylesheet" type="text/css" href="{% static 'MWA_webapp/style.css' %}?id=13" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">password successfully changed</h5>
            <p>
              Your password has been set. You may go ahead and <a href="{% url "login" %}">sign in</a> now.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
