{% extends "MWA_webapp/head.html" %}

{% load static %}

{% block title %} mywealthanalyst {% endblock %}
{% block description %} Providing information and analysis on the true value of assets to safeguard your wealth for generations. {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'MWA_users/style.css' %}?id=13" />
<link rel="stylesheet" type="text/css" href="{% static 'MWA_webapp/style.css' %}?id=13" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<br>
<br>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">sign in</h5>
            <form class="form-signin" method='post'>
              {% csrf_token %}
              <div class="form-label-group">
                 <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                <label for="email">Email address</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
              </div>

              <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">





            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
