{% extends "MWA_webapp/head.html" %}

{% load static %}

{% block title %} mywealthanalyst {% endblock %}
{% block description %} Providing information and analysis on the true value of assets to safeguard your wealth for generations. {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'MWA_webapp/style.css' %}?id=13" />
<link rel="stylesheet" type="text/css" href="{% static 'MWA_users/style.css' %}?id=13" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<br>
<br>
			{% if validlink %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">change password</h5>
            <form class="form-signin" method='post'>
              {% csrf_token %}
              <div class="form-label-group">
                 <input type="password" id="new_password1" name="new_password1" class="form-control">
                <label for="new_password1">new password</label>
              </div>
              <div class="form-label-group">
                 <input type="password" id="new_password2" name="new_password2" class="form-control">
                <label for="new_password2">confirm new password</label>
              </div>
							{{ form.new_password2.errors }}
              <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="set password" type="submit">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">invalid link</h5>
              <p>
   				      The password reset link was invalid, possibly because it has already been used.
   				      Please request a new password reset.
   				    </p>
            </div>
          </div>
        </div>
      </div>
    </div>

	{% endif %}

{% endblock %}
