{% load static%}

<!-- Footer -->
<div class="row footer">
<div class="col-sm-12">
  <!-- FOOTER ROW -->
  <div class="row">
      <!-- Footer Links -->
      <div class="container">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 ">
            <!-- Content -->
            <ul style="list-style: none;">
            <li style="color: rgba(255, 153, 0, 1)"><h5>Contact us:</h5></li>
            <li style="color: rgba(34, 42, 53, 1)"><i class="fas fa-envelope"></i> &nbsp; info@mywealthanalyst.com</li>
            <li style="color: rgba(34, 42, 53, 1)"><i class="fas fa-compass"></i> &nbsp; STREET ADDRESS</li>
            <li style="color: rgba(34, 42, 53, 1)"><i class="fas fa-building"></i> &nbsp; ABN: ###########</li>
            </ul>
          </div>
      </div>
    </div>
    </div>
  </div>
  </div>

  <!-- COPYRIGHT AND PRIVACY POLICY ROW -->
  <div class="row vcenter footer_bar">
    <div class = 'container'>
        <div class="row">
          <div class="col-6"><h5> © {% now "Y" %} mywealthanalyst.com</h5></div>
          <div class="col-6 ml-auto text-right" id='disclaimer' data-toggle="modal" data-target="#disclaimer_modal"><h5> Disclaimer </h5></div>
      </div>
    </div>
  </div>


  <!-- Disclaimer Modal -->
  <div class="modal fade" id="disclaimer_modal" tabindex="-1" role="dialog" aria-labelledby="disclaimer_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">disclaimer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>The information contained on this web site is general in nature and does not consider your personal situation. You should consider whether the information is appropriate to your needs, and where appropriate, seek professional advice from a financial adviser.  Although every effort has been made to verify the accuracy of the information contained in this web site, mywealthanalyst, its officers, employees and agents disclaim all liability (except for any liability which by law cannot be excluded), for any error, inaccuracy in, or omission from the information contained on this website or any loss or damage suffered by any person directly or indirectly through relying on this information.</p>
        </div>
      </div>
    </div>
  </div>
