{% load static%}

<!-- Footer -->
<div id="footer">
<div class="footer">
<div class="container">

<div class="row heading-row">
        <div class="col-sm-2 col-12 text-left order-sm-0 order-1"><span class="text-left" style="color: rgba(255, 153, 0, 1)">Disclaimer</span></div>
        <div class="col-sm-10 col-12 order-sm-0 order-0"><span style="color: rgba(255, 153, 0, 1)">Contact Us:</span>  <span class="value">&nbsp;<i class="fas fa-envelope"></i> contact@mywealthanalyst.com</span></div>
</div>

<div class="row">
<div class="col-12 col-centered text-justify disclaimer-text">
The information contained on this web site is general in nature and does not consider your personal situation. You should consider whether the information is appropriate to your needs, and where appropriate, seek professional advice from a financial adviser.  Although every effort has been made to verify the accuracy of the information contained in this web site, mywealthanalyst, its officers, employees and agents disclaim all liability (except for any liability which by law cannot be excluded), for any error, inaccuracy in, or omission from the information contained on this website or any loss or damage suffered by any person directly or indirectly through relying on this information.
</div>
</div>

</div>
</div>


  <!-- COPYRIGHT AND PRIVACY POLICY ROW -->
  <div class="row vcenter footer_bar">
    <div class = 'container'>
        <div class="row">
          <div class="col-12 text-center"><h5> © {% now "Y" %} mywealthanalyst.com</h5></div>
      </div>
    </div>
  </div>
</div>
