{% extends "MWA_webapp/head.html" %}


{% load static %}
{% block title %} mywealthanalyst {% endblock %}
{% block description %} Providing information and analysis on the true value of assets to safeguard your wealth for generations. {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'MWA_webapp/style.css' %}?id=11" />
<script src="{% static 'MWA_webapp/MWA_webapp.js' %}"></script>
{% endblock %}

{% block content %}


<br>
<br>
<div class='container'>
<div class='container dashboard'>
<div class='row'>

<div class='col-sm-11' align="left">
        <table class="table">
              <thead>
                    <tr>
                      {% for item in Commodities %}
                      <th> {{ item.commodity_name }} </th>
                      {% endfor %}
                    </tr>
              </thead>
              <tbody>
                    <tr>
                      {% for item in Commodities %}
                                {% if item.commodity_name == "All Ords"%}
                                <td class=""><span class="" data-monetary-amount="{{ item.last_price|floatformat:2 }}"></span></td>
                                {% else %}
                                <td class="currency""><span class="currency_togglable" data-monetary-amount="{{ item.last_price|floatformat:2 }}"></span></td>
                                {% endif %}
                      {% endfor %}
                    </tr>

                    <tr>
                      {% for item in Commodities %}
                          {% if 0 > item.last_movement_nominal %}
                                {% if item.commodity_name == "All Ordinaries"%}
                              <td class="price_small negative" data-monetary-amount="{{ item.last_movement_nominal|floatformat:2 }}"> ({{item.last_movement_percentage|floatformat:2}}%) </td>
                                 {% else %}
                              <td class="price_small negative currency_togglable" data-monetary-amount="{{ item.last_movement_nominal|floatformat:2 }}"> ({{item.last_movement_percentage|floatformat:2}}%) </td>
                                 {% endif %}

                          {% else %}
                          {% if item.commodity_name == "All Ordinaries"%}
                        <td class="price_small positive" data-monetary-amount="{{ item.last_movement_nominal|floatformat:2 }}"> ({{item.last_movement_percentage|floatformat:2}}%) </td>
                           {% else %}
                        <td class="price_small positive currency_togglable" data-monetary-amount="{{ item.last_movement_nominal|floatformat:2 }}"> ({{item.last_movement_percentage|floatformat:2}}%) </td>
                           {% endif %}
                          {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      {% for item in Commodities %}
                        <td class="price_small" style="font-size:9pt"> {{item.date_last_scraped|date:"M-d H:i"}} </td>
                      {% endfor %}
                    </tr>

              </tbody>
        </table>

</div>

<div class='col-sm-1 my-auto' align="right" >
<button type="button" class="btn btn-primary" id="currency_toggle" value="USD" data-toggle="button" aria-pressed="false" autocomplete="off">USD</button>
</div>

</div>
</div>
</div>


<br>

<div class='container'>
<div class='row'>
      <div class='col-md-12'>
      <div id="container_gold_silver" style="height: 400px"></div>
      </div>
</div>
<div class='row'>
      <div class='col-md-12'>
      <div id="container_allordsperatio_identity" style="height: 400px"></div>
      </div>
</div>
<div class='row'>
      <div class='col-md-12'>
      <div id="container_bitcoin_gold" style="height: 400px"></div>
      </div>
</div>
</div>

<script>
  $('#currency_toggle').on('click', function(event) {
    if (this.innerHTML == 'USD'){
        this.innerHTML = 'AUD';
        $('#currency_toggle').val("AUD")
        $('#currency_toggle').css("background-color", "rgba(255, 153, 0, 1)");

        $(".currency_togglable").each(function() {
            $(this).attr('data-monetary-amount', (($(this).attr('data-monetary-amount'))/{{AUD.last_price}}).toFixed(2)    );
        });

    } else {
        this.innerHTML = 'USD';
        $('#currency_toggle').val("USD")
        $('#currency_toggle').css("background-color", "rgb(68, 114, 196)");

        $(".currency_togglable").each(function() {
            $(this).attr('data-monetary-amount', (($(this).attr('data-monetary-amount'))*{{AUD.last_price}}).toFixed(2)    );
        });
    }
  });

  plot_chart('gold','silver', 45,80)
  plot_chart('bitcoin','gold')
  plot_chart('allordsperatio','identity',12,20)

</script>

{% endblock %}
