
 /* GENERAL - ALL-OF-PAGE */


* {
   font-family: 'Tw Cen MT';
}
a, a:link, a:visited {
   color: #000000;
   font-weight: bold;
}
h1, h2, h3, h4, h5 {
   font-family: 'Verdana' !important;
}

 /* HEADER AND NAVBAR */
.navbar {
    background-color: rgb(68, 114, 196);
}

.nav-item, .nav-link {
    font-family: 'Verdana';
    color: rgba(34, 42, 53,1) !important;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
 }

 .nav-item:hover, .nav-link:hover {
    color: rgba(255, 153, 0, 1) !important;
  }
