
 /* GENERAL - ALL-OF-PAGE */

 html,
 body {
   margin: 0;
   height: 100%;
 }

}
.wrapper {
   box-sizing: border-box;
   position: bottom;
   padding-bottom: 120px; /* Height of footer */
   min-height: 100%;
}

* {
  font-size: 15pt;
  font-family: 'Tw Cen MT';
}

h1, h2, h3, h4, h5 {
   font-family: 'Verdana' !important;
}

 /* HEADER AND NAVBAR */
.navbar {
  -webkit-box-shadow: 0px 6px 5px 0px rgba(34,42,53,0.5);
  -moz-box-shadow: 0px 6px 5px 0px rgba(34,42,53,0.5);
  box-shadow: 0px 6px 5px 0px rgba(34,42,53,0.5);

  background-image: linear-gradient(-122deg, rgba(68, 114, 196, 0) 77%, rgba(255, 255, 255, 0.08) 15%),
                     linear-gradient(-108deg, rgba(27, 0, 255, 0) 75%, rgba(255, 255, 255, 0.08) 15%),
                    linear-gradient(-101deg, rgba(68, 114, 196, 0) 74%, rgba(255, 255, 255, 0.08) 15%),
                    radial-gradient(circle, rgb(68, 114, 196) 0%, rgb(68, 114, 196) 100%);
    background-color: rgb(68, 114, 196);
}

.nav-item, .nav-link {
    font-family: 'Verdana';
    color: rgba(255, 153, 0, 1) !important;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
 }

 .nav-item:hover, .nav-link:hover {
    color: rgba(34, 42, 53, 1) !important;
  }

  /* FOOTER */
  .footer {
    -webkit-box-shadow: 0px -6px 5px 0px rgba(34,42,53,0.5);
    -moz-box-shadow: 0px -6px 5px 0px rgba(34,42,53,0.5);
    box-shadow: 0px -6px 5px 0px rgba(34,42,53,0.5);

    background-image: linear-gradient(79deg, rgba(68, 114, 196, 0) 54%, rgba(255, 255, 255, 0.08) 15%),
                      linear-gradient(72deg, rgba(27, 0, 255, 0) 55%, rgba(255, 255, 255, 0.08) 15%),
                     linear-gradient(58deg, rgba(68, 114, 196, 0) 57%, rgba(255, 255, 255, 0.08) 15%),
                     radial-gradient(circle, rgb(68, 114, 196) 0%, rgb(68, 114, 196) 100%);
    background-color: rgb(68, 114, 196);
    padding-top: 20px;
  }

  #disclaimer {
    color: rgba(255, 153, 0, 1) !important;
  }
  #disclaimer:hover {
    color: rgba(68, 114, 196,1) !important;
  }

  .modal_card {
    padding: 2rem;
    background-clip: padding-box;
    border-radius: 20pt;
    overflow: hidden;
  }


 /* CURRENCY TOGGLE BUTTON */
 .my-auto{
   margin-top: auto;
margin-bottom: auto;
 }
 .my-auto button{
   background-color: rgb(68, 114, 196)
 }

  /* GENERAL STYLING */
  .dashboard {
    background-color: rgba(68, 114, 196, 0.2) !important;
    border-radius: 10px;
  }



    @media(max-width:767px){
    .table-responsive{overflow-x:scroll;}
  }


  table.table {
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    width:100%;
  }

  table tr{
  border-spacing: 0px;  /* <---- won't really need this if you have border-collapse = collapse */
  border-collapse: collapse;
  width:100%;
 }

  .table td{
    padding: 0px !important;
      }

  .table th {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
      }

    /* make the value show up */
    span[data-monetary-amount]:before {
      content: attr(data-monetary-amount);
    }
    td[data-monetary-amount]:before {
      content: attr(data-monetary-amount);
    }
    .currency::before {
              content:"$";
          }

    td.price_small{ font-size: '8pt' !important}
    td.negative { color: red ; font-size: 10pt   }
    td.positive { color: green ; font-size: 10pt   }



    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 20% auto; /* 50% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close_disclaimer, .close_donate {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close_disclaimer:hover,
    .close_disclaimer:focus,
    .close_donate:hover,
    .close_donate:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
