 /* GENERAL - ALL-OF-PAGE */

 html {
   height: 100%;
   box-sizing: border-box;
 }

html, body {
  font-family: 'Tw Cen MT';
  overflow-x: hidden;
--input-padding-x: 1.5rem;
--input-padding-y: .75rem;
}

body {
    overflow-y: hidden !important;
    display: flex;                  /* establish flex container */
flex-direction: column;         /* align child elements ("flex items") vertically */
justify-content: space-between; /* pin both flex items to opposite ends */
margin: 0;
min-height: 100%;
}

h1, h2, h3, h4, h5 {
   font-family: 'Verdana'
}



/* HEADER AND NAVBAR */
.navbar {
 -webkit-box-shadow: 0px 6px 5px 0px rgba(34,42,53,0.5);
 -moz-box-shadow: 0px 6px 5px 0px rgba(34,42,53,0.5);
 box-shadow: 0px 6px 5px 0px rgba(34,42,53,0.5);

 background-image: linear-gradient(-122deg, rgba(68, 114, 196, 0) 77%, rgba(255, 255, 255, 0.08) 15%),
                    linear-gradient(-108deg, rgba(27, 0, 255, 0) 75%, rgba(255, 255, 255, 0.08) 15%),
                   linear-gradient(-101deg, rgba(68, 114, 196, 0) 74%, rgba(255, 255, 255, 0.08) 15%),
                   radial-gradient(circle, rgb(68, 114, 196) 0%, rgb(68, 114, 196) 100%);
  background-color: rgb(68, 114, 196);
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-item, .nav-link {
   font-family: 'Verdana';
   color: rgba(255, 153, 0, 1);
   font-size: 22px;
   margin-left: 15px;
   margin-right: 15px;
}

.nav-item:hover, .nav-link:hover {
   color: rgba(34, 42, 53, 1)
 }

 .navbar-nav > li > a {padding-top:2px !important; padding-bottom:5px !important;}
 .navbar {min-height:10px !important}

 /* FOOTER */
 .footer {
   -webkit-box-shadow: 0px -6px 5px 0px rgba(34,42,53,0.5);
   -moz-box-shadow: 0px -6px 5px 0px rgba(34,42,53,0.5);
   box-shadow: 0px -6px 5px 0px rgba(34,42,53,0.5);

   background-image: linear-gradient(79deg, rgba(68, 114, 196, 0) 54%, rgba(255, 255, 255, 0.08) 15%),
                     linear-gradient(72deg, rgba(27, 0, 255, 0) 55%, rgba(255, 255, 255, 0.08) 15%),
                    linear-gradient(58deg, rgba(68, 114, 196, 0) 57%, rgba(255, 255, 255, 0.08) 15%),
                    radial-gradient(circle, rgb(68, 114, 196) 0%, rgb(68, 114, 196) 100%);
   background-color: rgb(68, 114, 196);
   padding-top: 20px;
 }

 .footer .heading-row{
   font-size:16pt;
   font-family:'Verdana';
   text-align: right;
   line-height: 20pt;
 }
 .footer .heading-row .value{
    font-size:12pt;
  }

 .footer_bar {
  background:rgba(34, 42, 53, 1);
  color:rgba(255, 153, 0, 1);
 }

 .footer .col-centered{
     float: none;
     margin: 0 auto;
 }

 .footer_bar h5 {
   padding-top: 5px;
   font-size: 8pt
}

 .disclaimer-text{
   line-height: 12pt;
   padding: -5pt;
   padding-bottom: 15px;
   padding-top: 15px
 }

 @media(max-width:800px){
   .footer .heading-row{
     font-size:12pt;
   }
   .footer .heading-row .value{
      font-size:10pt;
    }
}

@media(max-width:575px){
  .footer .heading-row{
    font-size:10pt;
    text-align: left;
  }
  .footer .heading-row .value{
     font-size:9pt;
     text-align: left;
   }
   .disclaimer-text{
     font-size: 8pt;
   line-height: 7pt;
   padding-top: 5px
}
}

 /* DASHBOARD STYLING */
 .dashboard {
   background-color: rgba(68, 114, 196, 0.2);
   border-radius: 10px;
   -webkit-box-shadow: 1px 2px 5px 0px rgba(34,42,53,0.5);
   -moz-box-shadow: 1px 2px 5px 0px rgba(34,42,53,0.5);
   box-shadow: 1px 2px 5px 0px rgba(34,42,53,0.5);
 }

.graph_row{
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

 select.chart_dropdown{
   z-index: 2 !important;
  margin-left: 10px !important;
 }

 /* CURRENCY TOGGLE BUTTON */
 .dashboard .my-auto{
margin-bottom: auto;
 }
  .dashboard .my-auto button{
   background-color: rgb(68, 114, 196)
 }

 .dashboard table.table {
   text-align: center;
   border-spacing: 0px;
   border-collapse: collapse;
   width:100%;
 }

 .dashboard table tr{
 border-spacing: 0px;  /* <---- won't really need this if you have border-collapse = collapse */
 border-collapse: collapse;
 width:100%;
 }

 .dashboard .table td{
   padding: 0px;
     }

 .dashboard .table th {
   padding-top: 4px;
   padding-bottom: 4px;
     }

   /* make the value show up */
  .dashboard span[data-monetary-amount]:before {
     content: attr(data-monetary-amount);
   }
  .dashboard td[data-monetary-amount]:before {
     content: attr(data-monetary-amount);
   }
  .dashboard .currency::before {
             content:"$";
         }

  .dashboard td.price_small{ font-size: 8pt}
  .dashboard td.negative { color: red ; font-size: 10pt   }
  .dashboard td.positive { color: green ; font-size: 10pt   }

  @media(max-width:500px){
  .dashboard .table{
    overflow-x:scroll;
    font-size: 11px !important}

  .dashboard td.price_small{ font-size: 7pt}
  .dashboard td.negative { color: red ; font-size: 9pt   }
  .dashboard td.positive { color: green ; font-size: 9pt   }
}


 /* LOGIN FORMS */

 .login .card-signin {
   border: 20pt;
   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
 }

 .login .card-signin .card-title {
   margin-bottom: 2rem;
   font-size: 1.5rem;
 }

 .login .card-signin .card-body {
   background-clip: padding-box;
   background-color: rgba(68,114,196,0.3);
   border-radius: 3pt;
   overflow: hidden;
   -webkit-box-shadow: 3px 6px 5px 0px rgba(34,42,53,0.5);
   -moz-box-shadow: 3px 6px 5px 0px rgba(34,42,53,0.5);
   box-shadow: 3px 6px 5px 0px rgba(34,42,53,0.5);
 }

 .login .card-signin .btn, .custombutton {
   font-family: 'Verdana';
   font-size: 80%;
   border-radius: 5rem;
   letter-spacing: .1rem;
   font-weight: bold;
   padding: 1rem;
   transition: all 0.2s;
   background-color: rgba(255,255,255,0.8);
   color: rgba(34,42,53);
   border: 0px;
   -webkit-box-shadow: 1px 1px 5px 0px rgba(34,42,53,0.5);
   -moz-box-shadow: 1px 1px 5px 0px rgba(34,42,53,0.5);
   box-shadow: 1px 1px 5px 0px rgba(34,42,53,0.5);
 }

 .login .card-signin .btn:hover , .login .form-signin .btn:focus {
   background-color: rgba(68,114,196,0.5);
 }

 .login a#ForgetPwd {
   font-family: 'Verdana';
   font-size: 80%;
   letter-spacing: .1rem;
   font-weight: bold;
   padding: 1rem;
   transition: all 0.2s;
   color: rgba(34,42,53);
 }


 .login .form-label-group {
   position: relative;
   margin-bottom: 1rem;
 }

 .login .form-label-group input {
   height: auto;
   border-radius: 2rem;
 }

 .login .form-label-group>input,
 .login .form-label-group>label {
   padding: var(--input-padding-y) var(--input-padding-x);
 }

 .login .form-label-group>label {
   border: 0px;
   font-family: 'Verdana';
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   margin-bottom: 0;
   /* Override default `<label>` margin */
   line-height: 1.5;
   color: #495057;
   border: 0px solid transparent;
   border-radius: .25rem;
   transition: all .1s ease-in-out;
 }

 .login .form-label-group input::-webkit-input-placeholder {
   color: transparent;
 }

 .login .form-label-group input:-ms-input-placeholder {
   color: transparent;
 }

 .login .form-label-group input::-ms-input-placeholder {
   color: transparent;
 }

 .login .form-label-group input::-moz-placeholder {
   color: transparent;
 }

 .login .form-label-group input::placeholder {
   color: transparent;
 }

 .login .form-label-group input:not(:placeholder-shown) {
   padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
   padding-bottom: calc(var(--input-padding-y) / 3);
 }

 .login .form-label-group input:not(:placeholder-shown)~label {
   padding-top: calc(var(--input-padding-y) / 3);
   padding-bottom: calc(var(--input-padding-y) / 3);
   font-size: 12px;
   color: #777;
 }

  .error#errors {
    color: red;
    font-family: 'Verdana';
    font-size: 11pt;
  }


 /* LANDING PAGE */
 .wrapper{
  padding: 30px
 }

#Dashboard_mobile1 {
  position: absolute;
  top:15px;
  right:0
}

#Dashboard_desktop {
  top:0;
  right: 0;
}

#phone_img{
  width: 50%;
  left: 26%;
  top: 20%;
}

#notification_img{
  position: absolute;
  width: 40%;
  left: 51%;
  transform: translate(-50%,0);
  top: 20%;
}

.commodity-icon{
  height: 150px;
  width: 150px;
  position: relative;
  opacity: 0;
}

#buy-now-btn{
   opacity: 0;
}

#JohnJaneDiv{
}

.man-icon{
  width: 100%
}

.john-text{
   display: none;
}

.jane-text{
  color: rgb(68,114,196) !important;
   display: none;
}

.white-box{
  position: absolute;
  top: 11%;
  background-color: #fff;
  height: 89%;
  width: 100%;
}

.row-parallax{
   padding-top: 100px;
   padding-bottom: 100px;
 }

 .landingpage strong{
   color: rgba(68,114,196,1);
 }

 .landingpage ul, .landingpage p{
   font-size: 16pt;
   padding: 0;
   list-style: none;
 }

 .landingpage .subheading{
   color: rgba(255,153,0,1);
   font-size: 18pt;
   font-weight: 550;
 }


@media(max-width:500px){

.landingpage h3 {
  font-size: 18pt;
}

.landingpage ul, .landingpage p{
  font-size: 12pt;
}

.landingpage .subheading{
  font-size: 14pt;
}

}

/* ===============================================================
    Skrollr styles
   =============================================================== */
